@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: Merriweather;
  margin: 0;
  color: white;
  margin-bottom: 50px;

  width: 1320px;
  margin: auto auto;
}

a {
  text-decoration: none;
  color: rgb(205, 197, 197);
}


/* new-year-title | first-section */
.new-year-title {
  background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/BannerImage.png);
  background-repeat: no-repeat;
  border-radius: 18px;
  height: 600px;
  margin: 50px auto;

  /* padding-top: 150px; */
  text-align: center;
}

.happy-text {
  padding-top: 170px;
  font-size: 35px;
  font-weight: 700 ;
}

.celebration-text {
  font-size: 75px;
  font-weight: 700 ;
  margin-bottom: 50px;
}


/* second-section */
.second-section {
  text-align: center;
  margin-top: 110px;
}

.percent-off {
  color: red;
  font-size: 80px;
}

.text1 {
  color: red;
  font-size: 25PX;
}

.text2 {
  color: black;
  font-size: 45PX;
  margin: 30px 0;
}


/* third-section */
.third-section {
  background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/anime-celeb.jpg');
  background-repeat: no-repeat ;
  height: 600px;
  margin: 120px auto;
  border-radius: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.third-section-left {
  text-align: left;
  padding-left: 50px;
  align-content: center;
}

.welcome-txt {
  font-size: 65px;
}

.welcome-des {
  font-size: 15px;
  margin-bottom: 35px;
}

.join-link {
  font-size: 27px;
}

.join-btn {
  border: 1px solid rgb(117, 114, 114);
  border-radius: 8px;
  height:50px ;
  width: 140px;
  background-color: transparent;
}
.join-btn:hover {
  border: none;
  cursor: pointer;
}

.design-2024 {
  width: 260px;
}


/* fourth-section */
.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 400px;
  margin: 50px auto;
  border-radius: 16px;
  background: linear-gradient( rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  padding-top: 60px;
}

.text-line {
  color: black;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
}

.txt-red {
  color: red;
}

.join-now2 {
  margin-top: 50px;
  height: 55px;
  width: 150px;
  /* border: 1px solid black; */
  border: none;
  color: white;
  font-size: 19px;
  border-radius: 7px;
  background: red;
}
.join-now2:hover {
  cursor: pointer;
  border: none;
  background: black;
  color: white;
}


/* fifth-section */
.fifth-section {
  display: flex;
  justify-content: space-between;
  color: black;
  justify-content: center;
}

.fifth-left-section {
  padding: 50px;
}

.txt1 {
  color: red;
  font-size: 21px;
  font-weight: 600;
}

.txt2 {
  font-size: 31px;
  font-weight: 600;
}

.txt3,
.txt5 {
  font-size: 14px;
}

.fifth-middle-section {
  padding: 50px;
}

.fireworks {
  border:  8px solid red;
  border-radius: 50%;
  /* padding: 5px; */
}

.fifth-right-section {
  padding: 50px;
}

.txt4 {
  font-size: 31px;
  font-weight: 600;
  color: red;
  margin-top: 0;
}


/* sixth-section */
.sixth-section {
  color: black;
  text-align: center;
  margin-top: 50px;
}

.txt6 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  margin-bottom: -12px;
}

.txt7 {
  font-size: 3.5rem;color: red;
  font-weight: 600;
}

.txt8 {
  font-size: 0.8rem;
  margin-top: -25px;
  line-height: 22px;
}

.solid-color {
  background-color: red;
  height: 150px;
  width: auto;
  /* top: 77%; */
  position: relative;
  /* z-index: 1; */
  margin-top: -5rem;
}

.sixth-image-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: relative;
  z-index: 1;
}

.sixth-image-section img {
  width: 550px;
}

.kitty img {
  width: 370px;
  margin-left: -473px;
  margin-top: -100px;
}

.discount {
  position: relative;
  margin-top: -300px;
  left: 32%;
  z-index: 1;
}
.discount img {
  width: 270px;
}